extends components/layout.jade

block content

  section(class="page about")
  
    // INFOS 
    aside

      h3 I love design.
      
      p Working has always been a pleasure for me... Design brings excitment everyday of my life!
      
      p 
        strong 5 years of experience
        br
        | I worked for 8 different companies, including start-ups with less than 10 employees.

      p 
        strong 65+ projects
        br
        | I designed hundred of projects, in various industries: health, insurance, technology, bank, education, e-commerce, travel...
      
      p
        strong 16 hackathons
        br
        | I teamed up with lots of developers and won 11 prices, including 5 first place.

      a(href="about.html" title="About" class="button") My LinkedIn
      a(href="about.html" title="About" class="button") My GitHub

    // CONTENT
    main
      
      // SKILLS
    
      h3 My skills
      p Hackathons addict, I quickly learned to cover a wide range of areas. I am able to build products on my own but I prefer working as a team to share my knowledge and learn from others. Although I am initially specialized in #[strong user interface] and #[strong visual design], I can cover the full user experience process including #[strong user research] and #[strong information architecture]. I'm found of #[strong code] and love to produce my designs.

      // WORK
      
      h3 My work experience
      
      //// Enki
      +experience(
        'Head of user experience',
        'Enki Labs Inc. – London, United Kingdom',
        'Enki is a mobile app which provide content to help developers improve their skills on a daily basis. My job is to advocate for the user and the user experience process. I am in primarily in charge of the research, information architecture, user interface, prototyping, visual design and data analysis. I also act as a product owner for some of our features: creation of specifications, priorisation and management. When needed, I help to improve our management tools and processes. Finally, I am responsible of many team buildings: organisation of parties (bi-weekly) and ski trip (once a year).',
        'From March 2016 – Full time – Current position',
        'Startup – Less than 10 employees'
      )    
      
      //// Le Wagon
      +experience(
        'UX Teacher',
        'Le Wagon – Paris, France',
        'Le Wagon is an unconventional school to learn how to code in Ruby. Every session regroup passionate people coming from various industries, often looking to reinvent themself. As a UX Teacher, I guide students when they start their final project to help them make the product they dreamed of. I introduce them to user experience methods and organize workshops which are adapted to each team according to their level of progress.',
        'From April 2015 – Occasionally',
        'School – 20-30 students'
      )
      
      //// Theodo
      +experience(
        'UX Designer',
        'Theodo – Paris, France',
        'Theodo is a famous agile tech agency working with startups and big companies. Being the first designer in the company, I had to find solutions to implement UX methods in the Theodo agile development process as well as introducing/selling UX to our clients. Once on a project, I used all my design skills: user research, information architecture, user interfaces, visual design, prototyping and front end development. I was also in charge of some of the team buildings (star wars cinema nights, Christmas party) and internal communication (branded hoodies, powerpoint presentations).',
        'From November 2015 to March 2016 – Full time',
        'Agency – More than 80 employees'
      )    
      
      //// Freelance
      +experience(
        'UX/UI Designer and Front End Developer',
        'Freelance – Paris, France',
        'Some of my missions : establishment of UX processes in agile projects, MVP improvement using all my skills, introduction to UX Design and projects support, ergonomy and PAO for a software dedicated to jurists and lawyers, visual Identity, creation of a teaser website.',
        'From May 2015 to November 2015 – Full time',
        '7+ clients'
      )
      
      //// Agorize
      +experience(
        'UX Designer',
        'Agorize – Paris, France',
        'Agorize is an innovation challenge platform which bring online thousands of students, developers and startups. I worked for Agorise part-time, alternating with IESA Multimedia where I was following a UX formation. I was in charge of the user experience of both our public and private platform. I was the only UX designer for the first 6 months and worked closely with the CEO to define new features and re-design old ones. I applied user research methods, improved the information architecture and designed interfaces. I also helped to modify the code of our wordpress.',
        'From september 2014 to May 2015 – Part time',
        'Startup – Less than 80 employees'
      )

      //// Toxicode
      +experience(
        'UI Designer and Front End Developer',
        'Toxicode – Paris, France',
        "Toxicode is a small company divided in two side: agency and research/development. I worked part-time alternating with Fonderie de l'image where I was studying front-end development and web design. This is were my life as a front-end developer begun: I learned to code in Html, Css and JavaScript. I worked closely with developers to create education games. I imagined and designed many games as well digital solutions for our clients (e-commerce mainly).",
        'From September 2013 to August 2014 – Part time',
        'Agency – Less than 10 employees'
      )
      
      // EDUCATION
      
      h3 My education
      
      //// IESA
      +experience(
        'Project management and user experience',
        'IESA Multimedia, alternating with Agorize – Paris, France',
        'Courses: project management, user experience design, web writing, sensory marketing, digital knowledge, interaction design, user interface design, wireframing, prototyping, data mining, business model...',
        'From 2014 to 2015',
        '3rd year of college (2nd year skipped)'
      )
      
      //// Fonderie
      +experience(
        'Front End Development and webdesign',
        "Fonderie de l'image, alternating with Toxicode – Paris, France",
        '1st year : web design, front end development (HTML, CSS), programming (JavaScript), motion design...',
        'From 2013 to 2014',
        '1st year of college'
      )
      
      //// Experience
      +experience(
        'Design and applied arts',
        'Ecole Boulle – Paris, France',
        'Courses: use case, applied research, technical art and civilization (history of art), fundamental plastic expression, technical plans, conventional representation of the image, design creation et design culture',
        'From 2009 to 2012',
        '3 years of high school'
      )






// END
