extends components/layout.jade

block content

  section(class="page contact")
  
    // INFOS 
    aside

      h3 Feel free to contact me
      
      p 
        | I am currently working for Enki in London. Nonetheless, I am always looking for new opportunities to have fun and gain experience.
      p 
        | Whether you want to talk about a project, give me some feedback on my portfolio or want to hire me, don't hesitate to drop me an email:
      p
        strong charlottebretonsch@gmail.com

      a(href="mailto:charlottebretonsch@gmail.com" title="Email" class="button") Send me an email
