extends components/layout.jade

block content

  section(class="page work")

    // INFOS 
    aside

      h3 Hi, I'm a designer.
      p Driven by problem solving, I build products which empower people and grow businesses.
      p I use ergonomy and visual design to breathe life into ideas, user experience methods to drive decisions and code to deliver pixel perfect interfaces.
      p I love to create processes which bring teams together around one goal: make an awesome product!
      a(href="about.html" title="About" class="button") Learn more about me

    // CONTENT
    main

      //// Zenitth
      +article(
        'Connecting fanboys with Zenitth',
        'Learn how I used research, information architecture, interface, and prototyping in order to build my final year product.',
        'In-depth case study'
      )
      
      //// Personas
      +article(
        'How to create personas in 24h',
        'Learn how I used research, information architecture, interface, and prototyping in order to build my final year product.',
        'In-depth case study'
      )
      
      //// Zenitth
      +article(
        'Connecting fanboys with Zenitth',
        'Learn how I used research, information architecture, interface, and prototyping in order to build my final year product.',
        'In-depth case study'
      )
      
      //// Personas
      +article(
        'How to create personas in 24h',
        'Learn how I used research, information architecture, interface, and prototyping in order to build my final year product.',
        'In-depth case study'
      )
