extends components/layout.jade

block content

  // ARTICLE INTRO
  section(class="article intro")
  
    // INFOS 
    aside

      h3 Connecting fanboys with Zenitth
      p The final year project bring students from different disciplines together to create a digital product. The theme which was assigned to us was: Fanboys.
      p 
        strong Role
        br
        | Research, information architecture, interface, prototyping, oral presentation
      p
        strong Team
        br
        | Céline, Adrien, Jeremy, Oliver, Samuel, Arnaud, Alexis
      p
        strong Duration
        br
        | 11 days in July 2015
      
      p(class="weak")
        | 20 minutes read
      
      div(class="actions")
        a(href="#start" title="About" class="button start") Start
        a(href="#" title="About" class="button next") Next article

    // CONTENT
    main

      //// Zenitth
      img(class="glimpse" src="assets/content/zenitth/zenitth-glympse.png" alt="Image Title")


  // ARTICLE CONTENT
  section(id="start" class="article content")

    // CONTENT
    main
      
      //// Challenge
      
      h2 Challenge
      
      p The end of the 3rd year of college at l’IESA Multimedia is marked by a 1 month project which bring students from different disciplines together. I was chosen to lead the user experience and paired with two developers, two motion designers, two visual designers and another UX designer. We had to #[strong build a digital solution for a randomly assigned target]: fanboys.
      
      //// Research
      
      h2 Research
      
      p As the fanboys were unknow to us, we started by looking for a definition. A fanboy is a person who is an extremely or overly enthusiastic fan of someone or something. The term is often used to qualify fans of well-known brands (Eg. Apple, Disney…).

      h3 Qualitative study
      
      h4 Interviews
      
      p In order to #[pinpoint the needs and motivations] of our target we interviewed 6 fanboys. The questionnaire consisted of 10 open questions divided in three distinct themes: the genesis of the brand’s idolatry, the sense of belonging to its communicty and the management of the conflicts tied to this passion.
      
      img(class="glimpse" src="assets/content/zenitth/zenitth-interviews.png" alt="Image Title")

      h4 Data analysis
      
      p We analysed all the interviews, one by one. For each question, we analysed the answer in two different ways: #[strong factual and emotional]. The factual analysis helps to create quantitative studies while the emotional analysis helps to create emotional diagrams.
      
      img(class="glimpse" src="assets/content/zenitth/zenitth-dataanalysis.png" alt="Image Title")
      
      h4 Emotional diagram
      
      p We mapped the emotional analysis in #[strong extreme categories] and linked each interviewee to the most accurate. It allowed us to #[strong uncover patterns]. These patterns represents different mindsets, motivations, frustrations and needs.
      
      img(class="glimpse" src="assets/content/zenitth/zenitth-emotionaldiagram.png" alt="Image Title")
      
      p We encovered two different psychologial profiles: #[strong irrational and rational]. The irrationnal fanboys don’t seem to be conscious of the origin nor the reasons of their idolatry. In opposite, the rationnal fanboys know it very well. The rationals enjoy competition while the irrationals try to avoid it.









// END
