// VARIABLES

color-dark = #333
color-dark-high = color-dark - 44%
color-dark-medium = color-dark - 60%
color-dark-low = color-dark - 76%
color-light = #FFF
color-light-high = color-light - 5%
color-accent = #D00149

font-weight-medium = 500
font-weight-light = 300

size-grid = 0.8rem
size-grid-half = size-grid / 2
size-line = 0.2rem








// SET UP

html
  height              100%
  font-size           62.5%

body
  height              100%
  font-family         'Roboto', sans-serif
  color               color-dark

*
  margin              0
  padding             0
  text-decoration     none
  outline             none
  border              none
  -webkit-box-sizing  border-box
  -moz-box-sizing     border-box
  box-sizing          border-box

li
  list-style          none

img
  display             block

a
  color               inherit
  cursor              pointer









// TYPOGRAPHY

h2, h3, h4, strong
  font-weight         font-weight-medium

h2
  font-size           size-grid * 3
  line-height         size-grid * 3.5

h3
  font-size           size-grid * 2.5
  line-height         size-grid * 3
  margin-bottom       size-grid * 2

h4
  font-size           size-grid * 2
  line-height         size-grid * 2.5

p
  font-size           size-grid * 1.75
  line-height         size-grid * 2.5
  font-weight         font-weight-light
  margin-top         size-grid

nav li, h1, .button
  text-transform      uppercase
  font-weight         font-weight-light

nav li, h1
  font-size           size-grid * 2.5
  line-height         size-grid * 2.5

.button
  font-size           size-grid * 2
  line-height         size-grid * 2.5








// HEADER

header
  width               100%
  padding             size-grid * 7
  border-bottom       size-line solid color-light-high
  display             flex
  justify-content     space-between

  nav
    ul
      display             flex
      justify-content     flex-end

    ul
      li
        padding-left        size-grid * 3

      &:first-child
        padding-left        0









// ACTIONS

li a
  padding             size-grid 0
  border-bottom       size-line solid color-dark
  transition          border-bottom 0.5s ease-out

li a:hover
  transition          border-bottom 0.5s ease-in
  border-bottom       size-line solid color-light

.button
  width               auto
  margin-top          size-grid * 3
  padding             size-grid size-grid * 2
  border              size-line solid color-dark
  display             inline-block
  cursor              pointer
  transition          background 0.5s ease-out, color 0.5s ease-out

.button:hover
  transition          background 0.5s ease-in, color 0.5s ease-in
  background          color-dark
  color               color-light








// SECTIONS

section.page
  width               100%
  padding             size-grid * 3.5
  display             flex
  justify-content     space-between

aside
  width               size-grid * 46
  padding             size-grid * 3.5
  flex-shrink         0

main
  padding             size-grid * 3.5

article
  width               100%
  height              size-grid * 32
  padding             size-grid * 4
  margin-bottom       size-grid * 2
  background          color-light-high
  position            relative
  display             flex
  justify-content     space-between

  .glimpse
    width               size-grid * 37.5
    height              size-grid * 24
    margin-left         size-grid * 4

  a.button
    position            absolute
    bottom              size-grid * 4
    left                size-grid * 4

  &:last-child
    margin-bottom        0










// END
