// VARIABLES

color-dark = #333
color-dark-high = color-dark - 44%
color-dark-medium = color-dark - 60%
color-dark-low = color-dark - 76%
color-light = #FFF
color-light-high = color-light - 5%
color-accent = #D00149

font-weight-medium = 500
font-weight-light = 300

size-grid = 0.8rem
size-grid-half = size-grid / 2
size-line = 0.2rem








// SET UP

html
  height              100%
  font-size           62.5%

body
  height              100%
  font-family         'Roboto', sans-serif
  color               color-dark
  min-width           1280px // MODIFY for responsive

*
  margin              0
  padding             0
  text-decoration     none
  outline             none
  border              none
  -webkit-box-sizing  border-box
  -moz-box-sizing     border-box
  box-sizing          border-box

li
  list-style          none

img
  display             block

a
  color               inherit
  cursor              pointer

.clearfix
  clear               both

.clearfix:before,
.clearfix:after
  content             " "
  display             table

.clearfix:after
  clear               both








// TYPOGRAPHY

h1, h2, h3, strong
  font-weight         font-weight-medium

h1
  font-size           size-grid * 3
  line-height         size-grid * 3.5

h2
  font-size           size-grid * 2.5
  line-height         size-grid * 3
  margin-bottom       size-grid * 2

h3
  font-size           size-grid * 2
  line-height         size-grid * 2.5

p
  font-size           size-grid * 1.75
  line-height         size-grid * 2.5
  font-weight         font-weight-light
  margin-top         size-grid

nav li, #logo, .button
  text-transform      uppercase
  font-weight         font-weight-light

nav li, #logo
  font-size           size-grid * 2.5
  line-height         size-grid * 2.5

.button
  font-size           size-grid * 2
  line-height         size-grid * 2.5









// MAIN

.container
  width               100%
  min-height          100%
  padding-top         (size-grid * 16.5) + size-line

li a
  padding             size-grid 0
  border-bottom       size-line solid color-dark
  transition          border-bottom 0.5s ease-out

li a:hover
  transition          border-bottom 0.5s ease-in
  border-bottom       size-line solid color-light

.button
  width               auto
  margin-top          size-grid * 3
  padding             size-grid size-grid * 2
  border              size-line solid color-dark
  display             inline-block
  cursor              pointer
  transition          background 0.5s ease-out, color 0.5s ease-out

.button:hover
  transition          background 0.5s ease-in, color 0.5s ease-in
  background          color-dark
  color               color-light








// PAGE

#page
  min-height          100% // help
  width               100%
  padding             size-grid * 3.5
  display             block

aside
  min-height          100%
  width               size-grid * 46
  padding             size-grid * 3.5
  display             inline
  float               left

main
  width               calc(100% - 36.8rem) // MODIFY to use size-grid
  min-height          100%
  padding             size-grid * 3.5
  display             inline
  float               right

article
  width               100%
  height              size-grid * 32
  padding             size-grid * 4
  margin-bottom       size-grid * 2
  background          color-light-high
  position            relative

  .info
    width               calc(100% - 33.2rem) // MODIFY to use size-grid
    float               left

  .glimpse // MODIFY to transform to image
    width               size-grid * 37.5
    height              size-grid * 24
    float               right

  a
    position            absolute
    bottom              size-grid * 4
    left                size-grid * 4

article:last-child
  margin-bottom        0







// ARTICLE








// HEADER

header
  width               100%
  padding             size-grid * 7
  border-bottom       size-line solid color-light-high
  position            absolute
  top                 0
  z-index             15

#logo
  float               left

nav
  width               50%
  float               right

nav li
  padding-left        size-grid * 3
  float               right
