div(id="header")
  div(class="row clearfix")
    a(id="logo" href="index.html" title="Index") Charlotte Breton Schreiner
    ul(id="navigation")
      li
        a(href="contact.html" title="Contact") Contact
      li
        a(href="about.html" title="About") About
      li
        a(href="index.html" title="Work") Work
