header
  a(href="index.html" title="Index")
    h1 Charlotte Breton Schreiner
  nav
    ul
      li
        a(href="index.html" title="Work") Work
      li
        a(href="about.html" title="About") About
      li
        a(href="contact.html" title="Contact") Contact
