doctype html
html(lang="fr")

  head
    title Charlotte Breton Schreiner
    meta(charset="utf-8")
    meta(name="language" content="fr")
    meta(name="author" content="Charlotte Breton Schreiner")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style/reset.css")
    link(rel="stylesheet" href="style/main.css")
    link(rel="stylesheet" href="style/responsive.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i" rel="stylesheet")

  body
    include ./header.jade
    include ./mixins.jade

    block content
