// IMPORT

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i')
@import "variables.styl"








// SET UP

html
  height              100%
  font-size           62.5%

body
  height              100%
  min-width           370px
  font-family         'Roboto', sans-serif
  color               color-dark

*
  margin              0
  padding             0
  text-decoration     none
  outline             none
  border              none
  -webkit-box-sizing  border-box
  -moz-box-sizing     border-box
  box-sizing          border-box

li
  list-style          none

img
  display             block

a
  color               inherit
  cursor              pointer








// TYPOGRAPHY

h2, h3, h4, h5, strong, p.weak
  font-weight         font-weight-medium

  &:first-child
    margin-top          0

  &:last-child
    margin-bottom       0

h2
  font-size           size-grid * 3
  line-height         size-grid * 3.5
  margin-top          size-grid * 6
  margin-bottom       size-grid * 2

h3
  font-size           size-grid * 2.5
  line-height         size-grid * 3
  margin-top          size-grid * 5
  margin-bottom       size-grid * 2

h4, .react-experience
  font-size           size-grid * 2
  line-height         size-grid * 2.5
  margin-top          size-grid * 4
  margin-bottom       size-grid * 2

h5
  font-size           size-grid * 1.75
  line-height         size-grid * 2.5
  margin-top          size-line * 2

p
  font-size           size-grid * 1.75
  line-height         size-grid * 2.5
  font-weight         font-weight-light
  margin-top          size-grid * 2

nav li, h1, .button
  text-transform      uppercase
  font-weight         font-weight-light

nav li, h1
  font-size           size-grid * 2.5
  line-height         size-grid * 2.5

.button
  font-size           size-grid * 2
  line-height         size-grid * 2.5

p.weak
  color               color-dark-medium !important

h2, h3, h4, .rect-experience, h5, strong, p.weak
  &:first-child
    margin-top          0
  &:last-child
    margin-bottom       0











// HEADER

header
  width               100%
  padding             size-grid * 7
  border-bottom       size-line solid color-light-high
  display             flex
  justify-content     space-between
  background          color-light
  z-index             3

  nav
    ul
      display             flex
      justify-content     flex-end

      li
        padding-left        size-grid * 3

        &:first-child
          padding-left        0

      &:first-child
        padding-left        0








// ACTIONS

li a
  padding             size-grid 0
  border-bottom       size-line solid color-dark
  transition          border-bottom 0.5s ease-out

  &:hover, &.active
    transition          border-bottom 0.5s ease-in
    border-bottom       size-line solid color-light

.button
  width               auto
  margin              size-grid * 3 size-grid 0 0
  padding             size-grid size-grid * 2
  border              size-line solid color-dark
  display             inline-block
  cursor              pointer
  transition          background 0.5s ease-out, color 0.5s ease-out

  &:hover
    background          color-dark
    color               color-light

  button-with-icon(img,img-hover)
    position            relative
    padding-right       size-grid * 5

    &::after
      content             ''
      width               size-grid * 2
      height              size-grid * 2
      display             inline-block
      position            absolute
      top                 50%
      transform           translateY(- 50%)
      right               size-grid * 2
      background          url(img) no-repeat
      transition          background 0.5s ease-out
      background-size     contain

    &:hover::after
      background          url(img-hover) no-repeat

  &.next
    button-with-icon("../../assets/layout/icon-arrow-next.svg", "../../assets/layout/icon-arrow-next-hover.svg")

  &.start
    button-with-icon("../../assets/layout/icon-arrow-start.svg", "../../assets/layout/icon-arrow-start-hover.svg")








// SECTIONS

section
  width               100%
  padding             size-grid * 3.5
  display             flex
  flex-flow           row nowrap

  aside
    width               size-grid * 46
    padding             size-grid * 3.5
    flex-shrink         0

  main
    padding             size-grid * 3.5

  article
    width               100%
    height              size-grid * 32
    padding             size-grid * 4
    margin-bottom       size-grid * 2
    background          color-light-high
    position            relative
    display             flex
    justify-content     space-between

    p
      margin-top          size-grid

    h3
      margin-bottom       0

    .glimpse
      height              100%
      margin-left         size-grid * 4

    .info
      display             flex
      flex-flow           column nowrap
      justify-content     space-between

    &:last-child
      margin-bottom        0








// PAGE

section.page
  justify-content     space-between
  align-items         flex-start

  aside
    position            sticky
    top                 size-grid * 3.5

  main
    width               100%


//// Page about

section.page.about
  aside
    .button:last-child
      margin-top          size-grid
  main
    h4
      margin-bottom       0
    p
      margin-top          size-grid
      margin-bottom       size-grid
    p.weak
      font-weight         300
      margin              size-line * 2 0








// ARTICLE




//// Article navigation

nav.article
  width               100%
  padding             size-grid * 2 size-grid * 7
  border-bottom       size-line solid color-light-high
  display             flex
  justify-content     space-between
  align-items         center
  position            fixed
  top                 0
  left                0
  background          color-light
  z-index             2
  opacity             0.95

  a, h4
    margin              0


//// Article intro

section.article.intro
  height              calc(100% - 20.4rem)
  justify-content     space-between
  background          color-light-high

  aside
    position          relative

    .actions
      position            absolute
      bottom              size-grid * 3.5
      left                size-grid * 3.5

      a.button
        margin-top          0

        &:last-child
          margin-right        0

  main
    display             flex
    align-items         center

    img
      width             100%
      height            100%
      object-fit        contain


//// Article content

section.article.content
  display             flex
  justify-content     center

  main
    width               size-grid * 107

  .video-wrapper
    margin              (size-grid * 2) 0
    padding-bottom      56.25%
    position            relative
    width               100%

    iframe
      height              100%
      left                0
      position            absolute
      top                 0
      width               100%


section.article.content.main
  img
    width               100%
    margin-top          size-grid * 2
    margin-bottom       size-grid * 2

section.article.content.retro
  background           color-light-high








// REACT

#root,
.react-full,
.react-container,
.react-article
  min-height          100%
  display             inline








// END
