// IMPORT

@import "variables.styl"








// ABOVE IDEAL SIZE




// Width > 1380px

@media screen and (min-width: 1380px)

  section.page.work
    article
      height              size-grid * 34




// Width > 1480px

@media screen and (min-width: 1480px)

  html
    font-size           65%

  section.page.work
    article
      height              size-grid * 36




// Width > 1480px

@media screen and (min-width: 1580px)

  html
    font-size           70%

  section.page.work
    article
      height               size-grid * 38








// UNDER IDEAL SIZE




// Width < 1180px

@media screen and (max-width: 1180px)

  @media (min-width: 900px)

    section.page.work

      article
        flex-direction      column
        height              auto

        .glimpse
          height              auto
          width               100%
          order               1

        .info
          order               2




// Width < 980px

@media screen and (max-width: 900px)

  section
    display             block

    aside
      width               100%

  section.article.intro
    height              auto

    aside
      .actions
        margin-top          size-grid * 3
        position            relative
        top                 0
        left                0

  section.page aside
    position            relative
    top                  0



// Width < 800px

@media screen and (max-width: 800px)

  section
  // TO IMPROVE: merge with same above

    article
      flex-direction      column
      height              auto

      .glimpse
        height              auto
        width               100%
        order               1

      .info
        order               2




// Width < 700px

@media screen and (max-width: 700px)

  header
    display             flex
    flex-direction      column
    justify-content     left
    align-items         left

    h1
      text-align          center

    nav
      margin-top          size-grid * 2





// Width < 500px

@media screen and (max-width: 500px)

  section
    padding             (size-grid * 3.5) 0

  nav.article
    padding             (size-grid * 2) (size-grid * 3.5)

    h4
      margin-right        size-grid

  header
    padding             (size-grid * 7) (size-grid * 3.5)

  section.article.intro
    aside
      .actions
        a.button
          margin              size-grid * 3 size-grid 0 0








// END
