// VARIABLES

color-dark = #333
color-dark-high = color-dark + 44%
color-dark-medium = color-dark + 60%
color-dark-low = color-dark + 76%
color-light = #FFF
color-light-high = color-light - 5%
color-accent = #D00149

font-weight-medium = 500
font-weight-light = 300

size-grid = 0.8rem
size-grid-half = size-grid / 2
size-line = 0.2rem
