include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()


  ////

  h2 Challenge

  p Starting to work in a new company is always a challenge for user experience designers. You have to absorb a lot of information in a couple of days, learn all about the user journeys and all about the users themselves. With the right team, you can hit the ground running and show how powerful user experience is. I’m happy to share with you today how I brought UX to life in 75 days and hope it will help other designers in their new job.
  
  
  
  
  
  
  
  
  // END
