include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()


  ////

  h2 Challenge

  p Starting to work in a new company is always a challenge for user experience designers. You have to absorb a lot of information in a couple of days, learn all about the user journeys and all about the users themselves. With the right team, you can hit the ground running and show how powerful user experience is. I’m happy to share with you today how I brought UX to life in 75 days and hope it will help other designers in their new job.
  
  h3 Make ideas happen
  
  p Appear Here is a #[strong marketplace which brings spaces to people with ideas]. Often referred to as the Airbnb of retail, it allows brands to find pop-up shops online to avoid the costs related to traditional agencies. I joined Appear Here as a Senior UX Architect to work alongside five developers, a product designer and a product manager. 
  
  
  ////
  
  h2 Don't be an expert, be a team player
  
  p When you join a company with a brand new specialisation you can easily be tempted to sit down, write all the process and usability issues and then come up with a plan to solve each of them. If you are in this situation, pause. #[strong Designing a great experience is not a one-man job, it’s a team effort]. If you want to succeed, make sure people see you as a team player, not a lone wolf. 
  
  p Start by informal chats with each person of the team or one person from each department depending on the size of the company. Introduce yourself, give a quick introduction to user experience design and ask the following questions:
  
  ul
    li What are the biggest problems that affect your job or the user experience? Why?
  
    li Do you expect something from me? What? Why?

  p It will give you a good understanding of the different fires burning in the company. It’s a simple but very powerful way to #[strong know where you can bring an immediate value]. Pick a fire, put it out and see what happens.
  
  
  ////

  h2 Organise workshops

  p Organising workshops frequently with your team ensure good communication on projects and makes everyone feel involved. During the discovery phase, I organised at least one ideation workshop with the team. With our research findings in mind, everyone can #[strong bring ideas to the table and help prioritise]. Once you picked a solution, you can organise one or two workshops during the design phase to help you #[strong explore innovative interactions and uncover edge cases]. 

  +image(require("../assets/content/appearhere/workshops.png"), "Workshops")

  p Keep the workshops #[strong short and punchy]. Start by an icebreaker. Time-frame the session to 1 or 2 hours and each task to a maximum of 15 minutes each. Switch seating and standing positions every now and then to keep the team active.


  ///

  h2 Map the main user journey

  p During your first weeks, people will describe you the current experience and you might be asked to go through the full experience yourself (if not, do it anyway!). There is not a better moment to start mapping user journeys. Mapping the most-likely user journey is a great starting point and will help you to:

  ul
    li #[strong Create a visual representation of the process] which is great for the team but also for any new joiners who might be confused by an abstract description of the process.

    li #[strong Highlight the pain points] which are easy to identify by looking at steps where the communication is poor or overwhelming and where the emails don’t match the actions.
  
    li #[strong Uncover opportunities] such as where human interactions can be replaced by computer interactions or where human interactions are needed but don’t exist yet.

  p At Appear Here, I mapped the journey with the help of the concierge team to understand #[strong where they intervene] and the marketing team to add the #[strong emails users received for each step]. In the image below, you can see a section of the document (blurred to avoid NDA conflicts).
  
  +image(require("../assets/content/appearhere/IdealBookingJourney.png"), "Ideal booking journey")


  //
  
  h2 Organise regular user sessions

  p Organising regular user sessions has a lot of long-term and short-term benefits, including:
  
  ul 
    li #[strong Sharing a common understanding of our users] #[br] Everyone in the company is welcome to attend a session as an observer
    li #[strong Gather qualitative user insights to drive decisions] #[br] Challenge your ideas by putting them in front of your users
    li #[strong Gather qualitative user insights to drive decisions] #[br] Challenge your ideas by putting them in front of your users

  p I organised bi-weekly in-house user sessions with a target of 3 users per sessions. Each session focused on a different topic and anyone in the company could attend as an observer or a note-taker. At the end of the first sessions, my team started to advocate the users as much as me!


  ////
  
  h2 Share your work
  
  p Whether it’s a lunch presentation, an internal blog post, a general slack message or a shared folder on Dropbox, share your work! There is no magic recipe here, #[strong the medium depends on how your company operates]. Personally, I tried a bit of everything and think that quick weekly presentations worked best in our environment. 
  
  p I also created a shared folder on dropbox paper and documented all of my work so that #[strong anyone in the company can have a look at our progress] and pick insights from customers when needed.
  
  +image(require("../assets/content/appearhere/dropboxpaper.png"), "Ideal booking journey")


  ////
  
  h2 Fix Key Performance Indicators

  p When I was interviewing, I was very clear on what I wanted to achieve and how I wanted to work. To #[strong make sure the company is aligned with your goals], fix personal Key Performance Indicators (KPIs). My monthly KPIs were the following:

  ul
    li Number of #[strong qualitative user insights collected]
    li Number of #[strong projects presented]
    li Number of #[strong workshops organised]
    
  p As you can see, my KPIs are key elements to spread my vision of user experience in the organisation. If your vision is different from mine, your KPIs might be completely different. You can also #[strong fix KPIs for each project you tackle]. I set up the following KPIs:

  ul
    li Number of #[strong teams engaged]
    li Number of #[strong people involved]
    li Number of #[strong design iterations]
    li Number of #[strong copy iterations]
    li Number of #[strong usability tests]

  p These KPIs create trust and ownership in your organisation. Not to mention that two heads are better than one!




// ARTICLE CONTENT RETRO
+retrospective


  p The main thing I learned is that creating an inclusive, transparent and collaborative user experience process is the most efficient way to build an user-centred team. However, I also realised that no matter how user-centred your team becomes, if the company’s decisions are based on internal politics instead of objective facts, you won’t be able to build a great product.


  
  
  
  
  
  // END
