include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()


  ////

  h2 Challenge

  p Hack4Europe is a long-term online hackathon which lasted more than 6 months. Participants had to build a prototype which would fit one (or more) of the following categories: #[strong social positive, e-commerce, mobility, smart city, energy, internet of things].

  p We created Welcom’, #[strong a platform for traveller to meet locals]. We were selected among 120+ teams for the final and ended-up winning the mobility price and 1st price of the hackathon.

  +image(require("../assets/content/welcom/team.png"), "Team")








  // END
