include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()

  ////

  h2 Get Trello Air now

  p Go to the landing page to find out more and start using it.
  +button("https://trelloair.charlottebretonsch.com/") Trello Air landing page


  ////

  h2 The Story

  p I find Trello both fantastic and fantastically annoying. Since I’ve been using it, I spent a fair amount of time complaining about how ugly and inefficient it is and how I’d like to create my own version. A simple, elegant and efficient Trello. 

  p Decided to stop complaining and start acting, I ask one of my developer friends how hard it would be to create a new Trello and if he’d like to do it with me. He turns to me and says: “Why do you want to redo Trello when the only thing you’d like to change is the style? There’s a chrome plugin for that. Plus, it’s in CSS so you can do it yourself.”

  p Trello air is born.



// ARTICLE CONTENT DETAILS
+details

  ol
    li
      h3 Team
      ul
        li Me
    li
      h3 Role
      p Creator
      p Designer
      p Developer
    li
      h3 Timing

      p Launched in July 2018
      p Ongoing


    // END




// END
