include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()

  ////

  h2 Introduction

  p Trussle is the home of ownership. Our mission is to help everyone love their journey of owning a home. I worked there for about a year as a Lead UX Designer and was responsible for all aspects of product and service design on selected projects. My role was to lead these projects towards business objectives, going through discovery, design, delivery and data analysis and mentoring less experienced UX Designers along the way.


  ////

  h2 Case studies available on demand
  
  p Here's a snippet of case studies on a few projects I led, were live when I left Trussle and had a positive impact on the business. 

  h3 Mortgage Watch

  p Mortgage Watch is a project which lasted over 3 months during which we went through several iterations including user research and prototyping. 
  
  p During this project, I redefined and shaped a strategy which impacted the overall business including all our press releases and marketing support as well as many product improvements which followed. I also designed and iterated upon a solution which uplifted sign-ups by 130% and #[strong increased the conversion rate of our top-of-funnel by 170%] for a specific user group.
  
  h3 Snap engage
  
  p Snap engage is a 4 days project for which I used existing user insights, our design system and usability guidelines to reduce the drop-off of a part of our mortgage recommendation flow. 

  p I designed a solution which #[strong reduced the drop-off by more than 16%].

  h2 Want to see one of these case studies?
  
  p Please let me know by email which one you'd like to see.
  +button("mailto:charlottebretonsch@gmail.com") Request case studies by email



// ARTICLE CONTENT DETAILS
+details

  ol
    li
      h3 Team
      ul
        li 3 Designers (including me)
        li 12 Developers
        li 3 Product Managers
        li 1 Data Analyst
        li Mortgage Advisers
        li Customer Support Agents
        li Stakeholders
    li
      h3 Role
      p Lead UX Designer
    li
      h3 Timing

      p From October 2017
      p Full-time


    // END




// END
