include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()

  ////

  h2 Introduction

  p Trussle is the home of ownership. Our mission is to help everyone love their journey of owning a home. I worked there for about a year as a Lead UX Designer and was responsible for all aspects of product and service design on selected projects. My role was to lead these projects towards business objectives, going through discovery, design, delivery and data analysis and mentoring less experienced UX Designers along the way.


  ////

  h2 Want to see the case studies?

  p I made case studies for a few projects that I led which have been delivered, were live when I left Trussle and had a big impact on the business. To protect Trussle's confidentially, I present these on demand, in person, only to companies which are not in direct competition with Trussle
  .
  +button("mailto:charlottebretonsch@gmail.com") Send me an email



// ARTICLE CONTENT DETAILS
+details

  ol
    li
      h3 Team
      ul
        li 3 Designers (including me)
        li 6 Developers
        li 1 Product Manager
        li 1 Data Analyst
        li Mortgage Advisers
        li Customer Support Agents
        li Stakeholders
    li
      h3 Role
      p Lead UX Designer
    li
      h3 Timing

      p From October 2017
      p Full-time


    // END




// END
