include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()

  ////

  h2 Want to see this project? Invite me for an interview.

  p To protect Trussle's confidentially, I present this project on demand, in person, only to companies which are not in direct competition with Trussle. Trussle is the home of ownership. Our mission is to help everyone love their journey of owning a home. 







// ARTICLE CONTENT RETRO
+retrospective


  p Having a strong mission statement is extremely empowering. It drove me to shape a design strategy which completely redefined one of our core products, helping us to reach and exceed the project's goals as well as shifting all of our communications in a direction which reflects our brand more accurately. I think every company should have a mission statement and use it.








// END
