include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()


  ////

  h2 The talk

  p During this talk, I share some accessible user research methods that anyone can apply without prior UX knowledge. This talk is dedicated to entrepreneurs building prototypes, developers crafting products during a hackathon or a designer who wants to test ideas with end users.

  +video("https://www.youtube.com/embed/oeSsyb-tzfo")




// ARTICLE CONTENT RETRO
+details


  p I love sharing my knowledge and showing how accessible User Experience is. If you'd like to give me some feedback on my talk, don't hesitate to send me an email.







  // END
