include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()


  ////

  h2 UX 101: User Research methods to kickstart your project

  p Learn about quick, easy and efficient user research methods to build user-centered products and services.
  
  p Whether you are an entrepreneur building a prototype, a developer crafting a product during a hackathon or a designer who wants to test ideas with end users, this workshop is for you.
  
  p I cover accessible user research methods that anyone can apply without any prior UX knowledge. During the workshop, you will have the opportunity to see some of these methods in action and realize how powerful taking a user-centered approach can be.
  
  +video("https://www.youtube.com/embed/oeSsyb-tzfo")




// ARTICLE CONTENT RETRO
+retrospective


  p I love sharing my knowledge and showing how accessible User Experience is. If you'd like to give me some feedback on my talk, don't hesitate to send me an email.


  
  
  
  
  
  // END
