include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()


  ////

  h2 Watch the video

  +video("https://www.youtube.com/embed/oeSsyb-tzfo")




// ARTICLE CONTENT RETRO
+details

  ol
    li
      h3 Role
      p Speaker
    li
      h3 Event
      p Meetup at Le Wagon
      p London, UK
      p 60+ attendees
    li
      h3 Timing
      p October 2017
      p 60 min






  // END
