include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()


  ////

  h2 UX 101: User Research methods to kickstart your project

  p Learn about quick, easy and efficient user research methods to build user-centered products and services.

  p Whether you are an entrepreneur building a prototype, a developer crafting a product during a hackathon or a designer who wants to test ideas with end users, this workshop is for you.

  p I cover accessible user research methods that anyone can apply without any prior UX knowledge. During the workshop, you will have the opportunity to see some of these methods in action and realize how powerful taking a user-centered approach can be.

  +video("https://www.youtube.com/embed/oeSsyb-tzfo")




// ARTICLE CONTENT RETRO
+details

  ol  
    li
      h3 Role
      p Speaker
    li
      h3 Event
      p Meetup at Le Wagon
      p London, UK
      p 60+ attendees
    li
      h3 Timing
      p October 2017
      p 60 min






  // END
