include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()

  ////

  h2 Wanderlist is live

  +button("https://wanderlist.charlottebretonsch.com/") Start packing with Wanderlist


  ////

  h2 The Story

  p I love travelling. Travelling is exciting, intriguing and empowering. But travelling is also stressful, and expensive. The main reason for me is packing. I’m scared I’ll forget things so I always make long lists of what I need to bring and get packing a few days in advance - in case any new indispensable item pops in my head. I go on Dropbox paper and copy past previous lists… but it’s not very visual so it takes time to digest and I’m never quite sure I considered everything.

  p That’s why I created Wanderlist. 

  p Wanderlist is just the start of the journey towards smarter packing lists. What if we could create personalised lists based on our destination, the weather, our lifestyle? 



// ARTICLE CONTENT DETAILS
+details

  ol
    li
      h3 Team
      ul
        li Me
    li
      h3 Role
      p Creator
      p Designer
      p Developer
    li
      h3 Timing

      p Launched in August 2018
      p Ongoing


    // END




// END
