include atoms/sections.pug
include atoms/mixins.pug




// ARTICLE CONTENT
+content()


  ////

  h2 Challenge

  p Hack4Europe is a long-term online hackathon which lasted more than 6 months. Participants had to build a prototype which would fit one (or more) of the following categories: #[strong social positive, e-commerce, mobility, smart city, energy, internet of things].

  p We created Welcom’, #[strong a platform for traveller to meet locals]. We were selected among 120+ teams for the final and ended-up winning the mobility price and 1st price of the hackathon. 

  +image(require("../assets/content/welcom/team.png"), "Team")
  
  
  ////
  
  h2 Idea
  
  p The name of the Hackathon being “Hack4Europe” we thought about creating a #[strong project around travel] or at least something we could do in all of the five countries involved. During one of our brainstorming session, I told my team about DK’s story…

  h3 DK’s story

  p DK is a friend of mine that I met in New York years ago. One day, he called me to announce his plan of visiting Paris. A few weeks afterwards, there he was, in my city! As I was suggesting to take him to some touristic spots, he stopped me: “I don’t want to go there, I’ve seen all of it on internet. #[strong I want to feel what it’s like to be Parisian]. I want to live Paris!”
  
  +image(require("../assets/content/welcom/story.png"), "Story")
  
  h3 Concept
  
  p Welcom’ is a platform which connects foreigner travelling in a city (travellers) to locals living in the city (welcomers). Although our MVP is based in Paris, the concept can easily expend to other European cities, if not the world, which fits the hackathon perfectly. Naturally, we tackled #[strong social positive (sponsored by HP) and mobility (sponsored by Uber)] categories. 
  
  +image(require("../assets/content/welcom/concept.png"), "Concept")

  
  ////
  
  h2 Research
  
  p #[strong To verify our concept], we conducted a user research using both qualitative and quantitative methods. Our target for the research was people from 18 to 40 years old, living in Paris, who had travelled to another European city at least once in the past 3 years

  +image(require("../assets/content/welcom/research.png"), "Research")

  h3 Interviews
  
  p I prepared a set of questions and each team member had to conduct 2-4 interviews in a couple of days. We reached a total of 10 interviews in 3 days. 

  p The interview was divided in 3 parts. The first part brought interviewees to talk about #[strong their approach to travel]: circumstances, social company, hobbies, definition of success, preparation, spendings, methods of locomotion. The second set was about #[strong their own city]: hobbies, neighbourhood, guiding people (who, where, point of interests). The last set was about #[strong foreign cities]: city/location, being guided (by who, where, point of interests, pleasure).

  +image(require("../assets/content/welcom/interviews.png"), "Interviews")
  
  p We found a lot of common grounds between interviewees, but most of all, a united answer toward our concept: it would be great! These interviews gave us a #[strong deeper understanding of the issues our idea could be solving] as well as the confidence we needed to pursue this project.

  h3 Survey
  
  p We used the answered from the interviews to prepare the multiple choice options of our survey’s questions. We also added some general device and internet context questions to see if our solution could be on mobile and/or on desktop.

  +image(require("../assets/content/welcom/survey.png"), "Survey")
  
  p Among our results, we found out that 71% of travellers would prefer to be guided by a local, 81% want to discover local life, 52% want to meet new people and #[strong 59% find it difficult to discover local plans]. Theses results showed that our concept had a lot of potential.

  h3 Personas
  
  p We used both studies to guide our persona creation. The qualitative study gave us depth and psychological understanding while the quantitative study gave us a insight on the numerical importance of each profile. We ended up with 3 personas which best represented our target for the Hackathon. 

  +image(require("../assets/content/welcom/personas.png"), "Personas")

  p #[strong Leila] is 24 years old and travels with her friends, usually for long-weekend city escapes. She loves to discover the local life and meet people. She finds it challenging to discover good plans, handle her small budget and sometimes speak the local language. She spends a lot of time planning her trip to make sure to find the best deals.
  
  p #[strong Andrew] is 29 years old and travel on his own or with colleagues, for business trips. He stays in foreign cities usually for a night or two. He likes to have fun in local clubs where he can meet local girls… He finds it hard to find good parties, transportation methods inside the city and organise his trip. Often last minute, he doesn’t have the time to plan anything.
  
  p #[strong Nicolas] is 23 years old and study in a university. He likes to go out in bars, chill in unusual places and do a lot of activities every week. He finds it difficult to practice a foreign language.

  h3 Competition
  
  p The main competitors we found are quite extreme in their choice of market. People are matched either by affinities or by activities. We believe that #[strong Welcom’ can find a balance].

  +image(require("../assets/content/welcom/competitors.png"), "Competitors")
  
  
  ////
  
  h2 Design
  
  h3 Features
  
  p I organised a #[strong brainstorming session] with the team to gather ideas. Each team member had to write down as many ideas as possible in 6 minutes. Then, I would gather the post-it notes and stick them on a wall one by one.
  
  +image(require("../assets/content/welcom/brainstorming.png"), "Brainstorming")
  
  p For each idea, we debated on its strength, usefulness in regard to our personas and difficulty of implementation. When similar ideas were raised, we challenged them and grouped them. We ended up with a clear #[strong selection of features] which you can uncover in the arborescence below.

  h3 Arborescence
  
  p To have a clear understanding of the features and how they were connected to each other, I made a mind map of all our features.

  h4 Homepage
  
  +image(require("../assets/content/welcom/arborescense1.png"), "Arborescence 1")
  
  +button("https://mm.tt/675324158?t=Lnx4wXRgl0") View arborescence

  h4 Full website
  
  +image(require("../assets/content/welcom/arborescense2.png"), "Arborescence 1")
  
  +button("https://mm.tt/675324274?t=Hbo2wZm3G6") View full arborescence
 
  h3 Interface
  
  p I started by sketching some ideas on paper so the team could comment at the same time. We kept the interface #[strong as simple as possible] conscious of the scarce time ressource regarding the development of the prototype.  
  
  +image(require("../assets/content/welcom/zoning.png"), "Zoning")
  
  p We went straight to #[strong high-fidelity mock-ups] in order to have an engaging static prototype to present for the second stage of the Hackathon. You can see the interfaces bellow, in the videos.
  
  h3 Userflow
  
  p I created a quick static prototype to show the main user flow. In the video bellow, you will see the following scenario: #[strong Leila (traveller) books an activity with Nicolas (welcomer)], Nicolas receives and accepts the booking request, Leila receives a confirmation, Leila receives a notification at the time of the event suggesting her to get to the rendez-vous with Uber and finally Leila receives a notification to rate her time with Nicolas.

  +video("https://www.youtube-nocookie.com/embed/1DM5uplUfBo?rel=0&amp;showinfo=0")

  h3 Prototype
  
  p Once selected for the 3rd and last stage of the Hackathon, I coded a pixel perfect interface with #[strong HTML, CSS and JavaScript]. If you want to try it, beware that it is not responsive and do not purchase an activity with PayPal (otherwise, you will really be charged and it will go to one of my team member bank account!).
  
  +video("https://www.youtube-nocookie.com/embed/5ELW1a8ZBOE?rel=0&amp;showinfo=0")
  
  +button("http://welcom.charlottebretonsch.com/") Try the prototype
  +button("https://github.com/charlottebretonsch/Welcom") View code on GitHub
  
  
  ////
  
  h2 Presentation
  
  p Finalist, we were invited to present our project in front of 100 people (including French minister Axelle Lemaire) at the #[strong Ministry of the Economy].
  
  h3 Teaser
  
  p As we were rewarded twice, we had to make two videos which would be projected the same evening! To avoid the boring-ness of repeating our prototype twice, we made a teaser video. The video is #[strong mashup of multiple videos] we found online. Enjoy!
  
  +video("https://www.youtube-nocookie.com/embed/NeYak6P7swo?rel=0&amp;showinfo=0")
  
  h3 Demo
  
  p To show our concept as clearly as possible, we made a video of a traveller meeting a welcomer. #[strong Julien played the traveller, I played the welcomer].
  
  +video("https://www.youtube-nocookie.com/embed/PgRMbg2mpxg?rel=0&amp;showinfo=0")

  h3 Pitch 
  
  p We prepared a presentation covering all the aspect of our work for Welcom’ as well as our prototype. Apologies for our french accent! 
  
  +video("https://www.youtube-nocookie.com/embed/DcHaFwAT_Vc?rel=0&amp;showinfo=0")
  
  
  ////
  
  h2 Competition
  
  +image(require("../assets/content/welcom/prizes.png"), "Prizes")
  
  h3 1st prize & Mobility prize
  
  p We received the 1st prize and the mobility prize sponsored by Uber. We were also invited for a drink at Uber HQ in Paris.
  
  h3 Competitiors

  p Curious to see our competition? Have a look at the Hack4Europe closing video which gathers all the winners as well as a glimpse of each projects.
  
  +button("http://www.dailymotion.com/video/x2zfmjd_hack4europe-final-july-2nd-2015_tech") Watch Hack4Europe closing video
  
  +button("http://hack4europe.com/finalh4e/") Visit Hack4Europe website


  ////
  
  h2 What’s next?

  p We kept working on the project with a startup creation in mind. I left the project a couple of month afterward to pursue another startup opportunity in London. Even though the idea was great, a famous giant took over the market a few months later: #[strong Airbnb introduced a similar concept that they called “local experiences”]. 








// ARTICLE CONTENT RETRO
+retrospective


  p Hack4Europe was my first online hackathon. I found working on a side project (with a lot of pressure for months) quite a challenge in itself. Our main issue was the lack of time/investment from developers. It led me to take on the front end part of the app although I was already very busy with the design. Creating delightful experiences takes time, I wish I had more of it to be able to fully test our prototype before throwing it out there!









// END
